<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Modificar Receita</title>
  </head>
  <body>
    <h1>Cookmaster - Modificar Receita</h1>
    <div class="modify-recipe-content">
      <form method="POST" <%- `action="/recipes/${recipe.id}"` %> id="modify-recipe-content">
        <label for="recipe-name">
          Nome da receita:
          <input type="text" id="recipe-name" name="name" <%- `value="${recipe.name}"` %> />
        </label>
        <label for="recipe-ingredients">
          Insira os ingredientes separado por vírgula:
          <textarea form="modify-recipe-content" id="recipe-ingredients" name="ingredients"><% recipe.ingredients.map((ingredient) => { %><%= `${ingredient}, ` %><% }) %></textarea>
        </label>
        <label for="recipe-description">
          Modo de preparo:
          <textarea form="modify-recipe-content" id="recipe-description" name="description"><%= recipe.description %></textarea>
        </label>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
