<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - cadastro de receita</title>
</head>

<body>
  <% if (message) {%>
  <div class="message">
    <%= message %>
  </div>
  <% } %>
  <form action="/recipes" method="POST">
    <label for="nameInput">Nome: </label>
    <input type="text" name="name" id="nameInput" /><br />
    <label for="ingredientInput">Ingredientes: </label>
    <textarea name="ingredients" id="ingredientInput"></textarea><br />
    <label for="prepareInput">Modo de preparo: </label>
    <textarea name="prepare" id="prepareInput" /></textarea><br />
    <button type="submit">Cadastrar</button>
  </form>
</body>

</html>