<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Minhas Receitas</h1>
    <div>
      <% recipesData && recipesData.map(({ id, name, authorInfo: { fullName } }) => { %>
      <%= `Receita: ${name} - Autor: ${fullName}` %>
      <div>
        <a href="/recipes/<%=id%>">Detalhes</a>
      </div>
      <% }); %>
    </div>
  </body>
</html>
