<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Boas vindas ao Cookmaster!</h1>
    <div>
      <% recipesData.map(({ id, name, authorInfo: { fullName } }) => { %>
      <%= `Receita: ${name} - Autor: ${fullName}` %>
      <div>
        <a href="/recipes/<%=id%>">Detalhes</a>
      </div>
      <% }); %>
    </div>
    <br>
    <% if (userLogged) { %>
      <div>
        <a href="/recipes/new">
          <button type="button">Nova Receita</button>
        </a>
      </div>
    <% } %>
  </body>
</html>
