<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Search</title>
</head>

<body>
  </div>
  <form action="/recipes/search" method="GET">
    <label for="searchInput">Digite o texto: </label><br />
    <input type="text" name="q" id="searchInput" /><br />
    <button type="submit">Pesquisar</button>
    <% if(recipes) {%>
      <% recipes.forEach((recipe)=> {%>
        <p>Receita: <%= recipe[0] %></p>
        <p>Realizado Por: <%= recipe[1] %></p>
        <a href=<%=`/recipes/${recipe[2]}`%>>Mais detalhes</a>
      <% }) %>
    <% } %>
  </form>
</body>

</html>
